# CMake / Make / Build
/CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# Binary
libunqlite.a

# IDEs
.idea
.vscode

# .NET
**/bin/
**/obj/
*.user
*.suo
*.bat


# Build
*build*
build_x64/
build_x86/
output/

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.cache

